body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.smartphone{
    height:1689px;
    width:817px;
    background-image:url(../images/smartphonecutoutTemplate.png);
}
.screen{
    height:1250px;
    padding: 210px 40px 125px 50px;
    box-sizing: content-box;
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 7.5% auto 10%;
    height: 100%;
    background-color:lavender;
}
.grid-container div:nth-child(2) {
    grid-column-end: span 2;
    
}
.grid-container div:nth-child(4) {
    grid-column-end: span 4;
}

.row1 {
    align-self: center;
    justify-self: center;
    background-color: lavender;
}
.row2 {
    background-color:white;
}
.row3 {
    align-self: center;
    justify-self: center;
    background-color: lavender;
}
.cog {
    align-self: center;
    justify-self: end;
    background-color: lavender;
}
.selectedMenuItem {
    color:tomato;
}
.ScreenTitle{
    font-size: 50px;
}
.backArrow{
    align-self:center;
    padding-left: 3px;
}
.notSelected{
    color:black !important;

}
#welcomeGraph {
    margin-left: -115px;
    margin-top: 50px;
}
#welcomeGraph2 {
    margin-left: -115px;
    margin-top: 50px;
}
.homeGrid {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: 7.5% 46.25% 46.25%;
    height: 100%;
    grid-template-areas:
        "welcome welcome"
        "fitGraph fitMessage"
        "dietGraph dietMessage";
}
.homeWelcomeMessage{
    grid-area: welcome;
    justify-self: center;
    align-self: center;
}
.homeFitnessGraph{
    grid-area: fitGraph;
}
.homeFitnessGraphMessage{
    grid-area: fitMessage;
    align-self: center;
}
.homeDietGraph{
    grid-area: dietGraph;
}
.homeDietGraphMessage{
    grid-area: dietMessage;
    align-self:center;
    padding-right: 5px;
}
.myNavStyle {
    justify-content: center;
    font-size: 25px;
    margin-top: 15px;
}
.myTabContentStyle{
    font-size:18px;
}