@await Html.PartialAsync("PhoneScreenTop")

<div class="addMealButtonsContainer">
    <!-- select ingredients -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text bigFont" id="basic-addon1">Ingredient</span>
        </div>
        <input type="text" id="ingredientAutocomplete" class="form-control bigFont" placeholder="Pick an ingredient..." aria-label="Pick an ingredient..." aria-describedby="basic-addon1">
    </div>
    <!-- displaying current ingredients input box for amount -->
    <ul class="list-group" id="currentIngredientList"></ul>
    <div id="hiddenIngredientsList">

    </div>
    <!-- meal name -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text bigFont" id="inputGroup-sizing-default">Meal name</span>
        </div>
        <input type="text" class="form-control bigFont" id="mealName" aria-label="Meal name" aria-describedby="inputGroup-sizing-default">
    </div>
    <!-- submit button -->
    <button class="btn btn-outline-secondary bigFont" id="createMealButton" type="button">Create Meal</button>
    <div class="alert alert-danger bigFont" id="noIngredientSelected" role="alert">
        Please select at least one ingredient.
    </div>
</div>
@await Html.PartialAsync("PhoneScreenBottomMenu")