
@{
    ViewData["Title"] = "Index";
    User user = Model.User as User;
}
@await Html.PartialAsync("PhoneScreenTop")

@*
    Put View specific code here!
*@
<input type="hidden" id="userId" value="@user.Id" />
<canvas id="dietGraph"></canvas>
<a href="@Url.Action("AddMeal","Diet")" class="btn btn-outline-dark btn-lg addMealMargin">
    <div class="buttonInline">
        <span class="addMeal">Add Meal</span>
        <i class="fas fa-plus-square fa-3x"></i>
    </div>
</a>
@await Html.PartialAsync("PhoneScreenBottomMenu")



