@{
    var vm = Model as DietHistoryGraphItem;
}

@await Html.PartialAsync("PhoneScreenTop")
<table class="table detailsTable">
    <tr><td colspan="2" style="text-align:center;"><span class="alert alert-success"> Meal Saved!</span></td></tr>
    <tr>
        <td style="text-align: right;">Name: </td>
        <td>@vm.Name</td>
    </tr>
    <tr>
        <td style="text-align: right;">Time Created: </td>
        <td>@vm.Date</td>
    </tr>
    <tr>
        <td style="text-align: right;">Ingredients: </td>
        <td>
            @foreach(var i in vm.Ingredients)
            {
                <span>@i&nbsp;</span>
            }
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Calories: </td>
        <td>
            @vm.Date
        </td>
    </tr>
</table>
@await Html.PartialAsync("PhoneScreenBottomMenu")
