
<div>

    Back

</div>
<div>

    Home

</div>
<div>

    <span class="glyphicon glyphicon-cog"></span>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>
    Home
</div>
<div>
    Fitness
</div>
<div>
    Diet
</div>
<div>
    History
</div>


