
<div>
    <center>
        Back
    </center>
</div>
<div>
    <center>
        Home
    </center>
</div>
<div>
    <center>
        <span class="glyphicon glyphicon-cog"></span>
    </center>
</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>
    Home
</div>
<div>
    Fitness
</div>
<div>
    Diet
</div>
<div>
    History
</div>


