<!DOCTYPE html>
<html>

<div class="container">
    <div class="row">
        <div class="col">
            Back
        </div>
        <div class="col-8">
           Home Page
        </div>
        <div class="col">
            Profile
        </div>
    </div>
</div>

<body>
    <h1>
        Hello World!
    </h1>

</body>
</html>