
<div id="row1">
    <i class="fas fa-arrow-left fa-7x"></i>
</div>
<div id="row1">
    <center>
        <font face="Rockwell" size="12" color="green">
            Fitness
        </font>
    </center>
</div>
<div id="row1">
    <i class="fas fa-cog fa-7x"></i>
</div>
<div id="row2">
   
</div>
<div id="row3">
    <center>
        <i class="fas fa-home fa-10x"></i>
    </center>
</div>
<div id="row3">
    <center>
        <i class="fas fa-dumbbell fa-10x"></i>
    </center>
</div>
<div id="row3">
    <center>
        <i class="fas fa-utensils fa-10x"></i>
    </center>
</div>
<div id="row3">
    <center>
        <i class="fas fa-history fa-10x"></i>
    </center>
</div>


