@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ScreenContext ctx = (ScreenContext)ViewData["ScreenContext"];

}
<div class="backArrow">
    <i class="fas fa-arrow-left fa-5x"></i>
</div>
<div class="row1">
    @switch (ctx)
    {
        case ScreenContext.Home:
            <span class="ScreenTitle">Home</span>
            break;
        case ScreenContext.Settings:
            <span class="ScreenTitle">Settings</span>
            break;
        case ScreenContext.Fitness:
            <span class="ScreenTitle">Fitness</span>
            break;
        case ScreenContext.Diet:
            <span class="ScreenTitle">Diet</span>
            break;
        case ScreenContext.History:
            <span class="ScreenTitle">History</span>
            break;
    }
</div>
<div class="cog">

    <i class="fas fa-cog fa-5x"></i>
</div>
<div class="row2">
