@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ScreenContext ctx = (ScreenContext)ViewData["ScreenContext"];

}
<div class="backArrow">
    @if (ctx.HasFlag(ScreenContext.CanGoBack))
    {
        <i class="fas fa-arrow-left fa-5x backHistory hoverClick"></i>
    }
</div>
<div class="row1">

    @if (ctx.HasFlag(ScreenContext.Home))
    {
        <span class="ScreenTitle">Home</span>
    }
    else if (ctx.HasFlag(ScreenContext.AddMeal))
    {
        <span class="ScreenTitle">Add Meal</span>
    }
    else if (ctx.HasFlag(ScreenContext.ChooseMeal))
    {
        <span class="ScreenTitle">Choose Meal</span>
    }
    else if (ctx.HasFlag(ScreenContext.CreateMeal))
    {
        <span class="ScreenTitle">Create Meal</span>
    }
    else if (ctx.HasFlag(ScreenContext.MealDetails))
    {
        <span class="ScreenTitle">Meal Details</span>
    }
    else if (ctx.HasFlag(ScreenContext.EditCurrent))
    {
        <span class="ScreenTitle">Add To Routine</span>
    }
    else if (ctx.HasFlag(ScreenContext.CreateRoutine))
    {
        <span class="ScreenTitle">Create Routine</span>
    }
    else if (ctx.HasFlag(ScreenContext.RoutineDetails))
    {
        <span class="ScreenTitle">Routine Details</span>
    }
    else if (ctx.HasFlag(ScreenContext.Settings))
    {
        <span class="ScreenTitle">Settings</span>
    }
    else if (ctx.HasFlag(ScreenContext.Fitness))
    {
        <span class="ScreenTitle">Fitness</span>
    }
    else if (ctx.HasFlag(ScreenContext.Diet))
    {
        <span class="ScreenTitle">Diet</span>
    }
    else if (ctx.HasFlag(ScreenContext.History))
    {
        <span class="ScreenTitle">History</span>
    }

</div>
<div class="cog">

    <i class="fas fa-cog fa-5x"></i>
</div>
<div class="row2">
